[submodule "external/cinolib"]
	path = external/cinolib
	url = https://github.com/mlivesu/cinolib.git
[submodule "external/tclap"]
	path = external/tclap
	url = https://github.com/mirror/tclap.git
[submodule "external/libLAS"]
	path = external/libLAS
	url = https://github.com/libLAS/libLAS.git
[submodule "external/shapelib"]
	path = external/shapelib
	url = https://github.com/OSGeo/shapelib.git
